extends ./layout/page

block variables
  -currentPage = "/order.html";

  -let beards = {admiral: 'адмирал',  lumberjack: 'лесоруб', polarman: 'полярник', boyar: 'боярин', druid: 'мудрец'};
  -let extraServices = ['Подкрасить бороду', 'Накрутить усы', 'Причесать бороду', 'Подровнять виски', 'Убрать седину', 'Отполировать лысину'];


block title
    title Записаться на стрижку

block content

  mixin addInput(name, id, isRequired = false, inputType="text")
    if isRequired
      label(for="order__"+id).visually-hidden= name
      input(type=inputType id="order__"+id name=id placeholder=name required).order__input
    else
      label(for="order__"+id).visually-hidden= name
      input(type=inputType id="order__"+id name=id placeholder=name).order__input

  section.order
    ._wrapper.container
      h2._title Запись на стрижку
      a(href="/index.html")._to-home.button На главную
      form(action="" method="method")._form
        fieldset._identity
          legend._subtitle.visually-hidden Представтесь
          +addInput('Фамилия', 'surname')
          +addInput('Имя', 'name', true)
          +addInput('Отчество', 'patronymic')

        fieldset._contacts
          legend._subtitle.visually-hidden  Как с вами связаться?
          +addInput('Контактный телефон', 'phone', true, 'tel')
          +addInput('Контактный e-mail', 'email', false, 'email')

        fieldset._comment
          legend._subtitle.visually-hidden  Что-то ещё?
          textarea(name="", cols="30", rows="5" placeholder="Доп. информация для мастера")._input

        fieldset._beards
          legend._subtitle  Выберите модель бороды:
          ul._list
            each name, index in beards
              li._beard
                if index == 'admiral'
                  input(type="radio" id="order__"+index name="beard" value=index checked)
                else
                  input(type="radio" id="order__"+index name="beard" value=index)
                label(for="order__"+index class="order__"+index)= name

        fieldset._extra-services
          legend._subtitle  Дополнительные услуги:
          ul._list
            each val, index in extraServices
              li._extra-service
                input(type="checkbox" id="order__extra-service"+index name="order__extra-service"+index value="order__extra-service"+index)
                label(for="order__extra-service"+index)= val

        button(type='submit')._submit.button Отправить заявку
